header {
  padding: 2rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

header div strong {
  font-size: 2.5em;
  font-weight: 900;
  color: #fff;
}
header div:nth-child(1) {
  display: flex;
  flex: 1;
}
